
        <footer>
            <h5>Information about the software development lifecycle can be found here</h5>
            <a href="https://www.tutorialspoint.com/sdlc/sdlc_overview.htm">SDLC Overview</a>
        </footer>
    </body>
    
</html>