<!DOCTYPE html>
<html lang=en-us>

    <head>
        <meta charset="utf-8"/>
        <title> Justin Thomas: CST336 HW4</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <header>
            <h1> <%= fakeName %> (Fake) - SDLC </h1>
        </header>
        <hr>
        
        <nav>
            <a href="index">Home</a>
            <a href="planning">Planning</a>
            <a href="design">Design</a>
            <a href="maintenance">Maintenance</a>
        </nav>
        <br/>