<%- include("partials/header.ejs")%>
        <div id="content">
            <h1>Software Development Life Cycle</h1>
            
            <h2>Maintenance - Phase 5</h2>
            <img src="./img/maintenance.jpg" alt="Maintenance">
            <p>
                Now that the code has been deployed, it needs to be maintained. This includes bug fixes, design changes, and adaptation. Bugs occur in every
                application and when they're discovered they need to be squashed. Design changes can be feature requests or design changes that didn't work as
                intended. Adaptation occurs when the current code isn't functioning as intended. An example can be third party API's that have been changed or 
                feature deprecation happens. The application needs to be maintained to function properly.
            </p>
            
            <p>
                After maintenance the life cycle begins again with design. If a new feature is to be added, a new design phase and following phases are needed.
            </p>
               
            <h3>
                <a href="./design">Phase 1</a>
            </h3>
        </div>
<%- include("partials/footer.ejs")%>