<%- include("partials/header.ejs")%>
        
        <div id="content">
            <h1>Software Development Life Cycle</h1>
            <article>
            <h2>Planning - Phase 1</h2>
            <img src="./img/planning.jpg" alt="Planning">
            <p>
                Often times planning is overlooked which can cause wasted time later in development. This phase allows
                the team to vizualize, conceptualize, and theorize the workflow. This phase can be considered a high level
                overview before the nitty gritty is discussed.
            </p>
            </article>
            <h2>Analysis - Phase 2</h2>
            <img src="./img/analysis.jpg" alt="Analysis">
            <p>
                After the team has a good understanding of how the project will function and flow, the team works together
                in the analysis phase to try and find possible holes or areas that were overlooked. When working with
                SaaS products, this phase can be crutial to understand how each service tier will function.
            </p>
            
            <h3>
                <a href="./design">Phase 3</a>
            </h3>
            
        </div>
<%- include("partials/footer.ejs")%>